.banner {
	background-color: $purple-color;
	&__title {
		max-width: 77.5625rem;
		margin: 0 auto 0;
		@include adaptiv-value("padding-top", toPX(5.5), toPX(4.12), 1);

		&.mb1-5 {
			margin-bottom: 1.5rem;
		}
	}

	&__forms {
		@include adaptiv-value("padding-bottom", toPX(10.63), toPX(7.5), 1);
	}

	&__question {
		color: var(--white, #fff);
		font-family: $font-family-manrope;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.65rem; /* 165% */
		display: flex;
		align-items: center;
		gap: 0.38rem;
		margin-bottom: 0.75rem;
		span {
			text-decoration-line: underline;
		}
	}

	&__form {
		display: grid;
		grid-template-columns: repeat(5, 1fr);

		select {
			color: #0f0f0f;
			font-family: $font-family-manrope;
			@include adaptiv-value("font-size", toPX(1.375), toPX(1), 1);
			font-style: normal;
			font-weight: 400;
			line-height: 116.6%; /* 1.60325rem */

			border: 1px solid rgba(0, 0, 0, 0.3);
			background: #f9f9f9;
			padding: 1.69rem 1.12rem;
			outline: none;
			cursor: pointer;

			&:first-child {
				border-radius: 0.625rem 0 0 0.625rem;
			}

			option {
				line-height: 3rem;
			}
		}

		button {
			color: var(--Black, #0f0f0f);
			font-family: $font-family-manrope;
			@include adaptiv-value("font-size", toPX(1.375), toPX(1), 1);
			font-style: normal;
			font-weight: 400;
			line-height: 116.6%;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid rgba(0, 0, 0, 0.3);
			background: $yellow-color;
			border-radius: 0 0.625rem 0.625rem 0;
			cursor: pointer;

			span.btn__submit {
				display: flex;
				align-items: flex-start;
				justify-content: center;
			}
			span.dol {
				color: var(--Black, #0f0f0f);
				font-family: $font-family-manrope;
				@include adaptiv-value("font-size", toPX(0.875), toPX(0.75), 1);
				font-style: normal;
				font-weight: 700;
				line-height: 116.6%; /* 1.02025rem */
			}

			span.price {
				color: var(--Black, #0f0f0f);
				font-family: $font-family-manrope;
				@include adaptiv-value("font-size", toPX(1.5), toPX(1.125), 1);
				font-style: normal;
				font-weight: 700;
				line-height: 116.6%; /* 1.749rem */
			}
		}
	}

	&__labels {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 6.56rem;
	}

	&__label {
		color: var(--white, #fff);
		font-family: $font-family-manrope;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.65rem; /* 165% */
		display: flex;
		align-items: center;
		gap: 0.69rem;
	}
}
@include media-width($md) {
	.banner {
		&__labels {
			display: none;
		}

		.desctop {
			display: none;
		}
	}
}
