.choose {
	&__container {
		@include adaptiv-value("margin-top", toPX(10), toPX(5.61), 1);
		@include adaptiv-value("margin-bottom", toPX(11.25), toPX(5.63), 1);
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__title {
		text-align: left;
	}

	&__link {
	}

	&__content {
		display: flex;
		margin-top: 6.56rem;
		gap: 3.13rem;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		@include adaptiv-value("gap", toPX(3.13), toPX(1.19), 1);
		width: 100%;
	}

	&__item {
		position: relative;
		padding: 2.63rem;
		border-radius: 0.625rem;
		border: 1px solid var(--Perple, #716beb);
		&.inverce {
			background-color: $purple-color;
			border-radius: 0.625rem;
			border: 1px solid var(--Perple, #716beb);

			.choose__button {
				border-radius: 0.375rem;
				background: #4c46b8;
			}

			.choose__desc {
				color: #fff;
			}

			.choose__subtitle {
				color: #fff;
			}
		}
	}

	&__subtitle {
		color: var(--Perple, #716beb);
		font-family: $font-family-manrope;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: 2.71056rem; /* 135.529% */

		&.inverce {
			color: #fff;
		}
	}

	&__desc {
		color: #716beb;
		font-family: $font-family-manrope;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.36681rem; /* 236.683% */
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		list-style-type: disc;
		gap: 0.94rem 0;

		li {
			color: #fff;
			font-family: $font-family-manrope;
			font-size: 1.75rem;
			font-style: normal;
			font-weight: 400;
			line-height: 2.36681rem; /* 135.247% */
			margin-left: 1.94rem;
		}
	}
	&__grid-3 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		list-style-type: disc;

		li {
			color: var(--Perple, #716beb);
			font-family: $font-family-manrope;
			font-size: 1.75rem;
			font-style: normal;
			font-weight: 400;
			line-height: 2.36681rem; /* 135.247% */
			margin-left: 1.94rem;
		}
	}

	&__buttons {
		display: flex;
		align-items: flex-end;
		gap: 0.75rem;
		margin-top: 2.62rem;
	}

	&__circle {
	}

	&__button {
		border-radius: 0.375rem;
		background-color: $purple-color;
		padding: 0.5rem 1.4375rem;
		color: var(--white, #fff);
		font-family: $font-family-manrope;
		font-size: 1.375rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.36681rem; /* 172.133% */

		&.absolute {
			position: absolute;
			background-color: transparent !important;
		}
	}

	&__image {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&__right {
		padding: 2.62rem;
		background: #f3f3f3;
		max-width: 37.5rem;

		.choose__button {
			border-radius: 0.375rem;
			background: #e0deff;
			color: var(--Perple, #716beb);
			font-family: $font-family-manrope;
			font-size: 1.375rem;
			font-style: normal;
			font-weight: 400;
			line-height: 2.36681rem; /* 172.133% */
		}
	}

	&__text {
		color: var(--Perple, #716beb);
		font-family: $font-family-manrope;
		font-size: 1.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.36681rem; /* 135.247% */
	}

	&__right-img {
		position: absolute;
	}
}
