.footer {
	background-color: $purple-color;
	&__container {
		border-radius: 2.6875rem 2.6875rem 0rem 0rem;
		background: #f3f3f3;
		@include adaptiv-value("padding-top", toPX(5.64), toPX(2.87), 1);
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr 2fr;
		@include adaptiv-value("padding-bottom", toPX(2.8), toPX(1), 1);
	}

	&__col {
		min-width: 276px;
	}

	&__logo {
		color: $purple-color;
		font-family: $font-family-manrope;
		font-size: 2.0515rem;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		margin-bottom: 1.88rem;
	}

	&__item {
		display: flex;
		flex-direction: column;
	}

	&__label {
		color: rgba($color: #0f0f0f, $alpha: 0.7);
		font-family: $font-family-manrope;
		@include adaptiv-value("font-size", toPX(1.375), toPX(0.875), 1);
		font-style: normal;
		font-weight: 400;
		line-height: 2.36681rem; /* 172.133% */
	}

	&__subtitle {
		color: $purple-color;
		font-family: $font-family-manrope;
		@include adaptiv-value("font-size", toPX(2), toPX(1.375), 1);
		font-style: normal;
		font-weight: 700;
		line-height: 2.71056rem; /* 135.529% */
		@include adaptiv-value("margin-bottom", toPX(2.25), toPX(0), 1);
	}

	&__menu {
		display: flex;
		flex-direction: column;
		gap: 1.31rem;
	}

	&__social {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	&__wrapper {
		display: flex;
		justify-content: space-around;
	}

	&__content {
		color: rgba($color: #0f0f0f, $alpha: 0.7);
		font-family: $font-family-manrope;
		@include adaptiv-value("font-size", toPX(1), toPX(0.75), 1);
		font-style: normal;
		font-weight: 400;
		line-height: 1.08556rem; /* 108.558% */
		//max-width: 28rem;
	}

	&__subitem {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		min-width: 276px;
	}

	&__line {
		@include adaptiv-value("padding-top", toPX(2.19), toPX(1), 1);
		border-top: 0.0625rem solid rgba($color: #0f0f0f, $alpha: 0.3);
	}
}
@include media-width($md) {
	.footer {
		position: relative;
		&__grid {
			grid-template-columns: 1fr;
			gap: 2.56rem;
		}
		&__col {
			min-width: auto;
		}
		&__wrapper {
			justify-content: start;
			gap: 4.75rem;
		}
		&__subitem {
			min-width: auto;
		}
		&__menu {
			gap: 0;
		}
		&__line {
			display: flex;
			flex-direction: column-reverse;

			.footer__label {
				color: #000;
			}

			&.footer__grid {
				gap: 0.5rem;
			}
		}
		&__social {
			position: absolute;
			top: 2.3rem;
			right: 1.25rem;

			a {
				svg {
					max-width: 2.75rem;
				}
			}
		}
	}
}
