.subfooter {
	&__title {
		margin: 0 auto 0;
		@include adaptiv-value("padding-top", toPX(5.5), toPX(4.12), 1);
	}
	&__contacts {
		@include adaptiv-value("margin-top", toPX(2.19), toPX(2.5), 1);
		@include adaptiv-value("padding-bottom", toPX(11.25), toPX(5.62), 1);
	}

	&__form {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		@include adaptiv-value("gap", toPX(3.125), toPX(1.12), 1);
		input {
			color: var(--white, #fff);
			font-family: $font-family-manrope;
			@include adaptiv-value("font-size", toPX(1.75), toPX(1), 1);
			font-style: normal;
			font-weight: 400;
			line-height: 2.36681rem; /* 135.247% */
			padding: 1.94rem;
			background-color: transparent;
			outline: none;
			border-radius: 0.625rem;
			border: 1px solid var(--white, #fff);

			&::placeholder {
				color: var(--white, #fff);
				font-family: $font-family-manrope;
				@include adaptiv-value("font-size", toPX(1.75), toPX(1), 1);
				font-style: normal;
				font-weight: 400;
				line-height: 2.36681rem; /* 135.247% */
			}
		}
		button {
			color: var(--Perple, #716beb);
			text-align: center;
			font-family: $font-family-manrope;
			@include adaptiv-value("font-size", toPX(1.75), toPX(1), 1);
			font-style: normal;
			font-weight: 400;
			line-height: 2.39806rem;
			background-color: #fff;
			border-radius: 0.625rem;
			padding: 1.38rem 0 1.44rem;
		}
	}
}
@include media-width($md) {
	.subfooter {
		&__form {
			grid-template-columns: 1fr;

			input {
				color: $black-color;
				font-family: $font-family-manrope;
				padding: 1.44rem 1.06rem;
				background-color: transparent;
				outline: none;
				border-radius: 0.625rem;
				background-color: #fff;
				border: 1px solid var(--white, #fff);

				&::placeholder {
					color: $black-color;
					font-family: $font-family-manrope;
				}
			}
			button {
				color: $black-color;
				text-align: center;
				font-family: $font-family-manrope;
				font-style: normal;
				font-weight: 400;
				line-height: 2.39806rem;
				background-color: $yellow-color;
				border-radius: 0.625rem;
				padding: 1.38rem 0 1.44rem;
			}
		}
	}
}
